body {
    padding-top: 40px;
    padding-left: 20px;
}

.user-day{
    width: 50px;
}

.user-month{
    width: 90px;
}

.user-year{
    width: 70px;
}

.profile-email{
    padding-top: 9px;
}
/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}