@model System.Collections.Generic.List<MvcApplication1.Models.user>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users list</h2>
<h2>@ViewContext.Controller</h2>

<table>
    <th>id</th>
    <th>name</th>
    <div class="user">
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.id</td>
                <td>@user.email</td>
                <td>@user.user_role</td>
            </tr>
        }
    </div>
</table>